/* Estilos para o rodapé */
#footer {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
}

.tertiary-title {
    font-size: 24px;
    color: #333;
}

.contact {
    margin-top: 30px;
    text-align: center; /* Para centralizar o conteúdo da classe .contact */
}

.contact p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact span {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

/* Estilos para a imagem */
.contact img {
    display: block;
    margin: 0 auto; /* Centralizar horizontalmente */
    margin-bottom: 20px; /* Adicionar espaço entre a imagem e os ícones das redes sociais */
}

/* Estilos para as redes sociais */
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adicionar margem superior para espaçamento */
}

.social-media a {
    margin: 0 5px; /* Espaçamento horizontal mínimo */
}

.social-media img {
    max-width: 30px; /* Defina o tamanho máximo desejado */
}
