#footer {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
}

.tertiary-title {
    font-size: 24px;
    color: #333;
}

.contact {
    margin-top: 30px;
    text-align: center;
}

.contact p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact span {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}


.contact img {
    display: block;
    margin: 0 auto; 
    margin-bottom: 20px; 
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.social-media a {
    margin: 0 5px; 
}

.social-media img {
    max-width: 30px; 
}
