
.skills {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
}

.skills__content {
    max-width: 40rem;
    flex: 1;
}

.skills__content p {
    margin: 1rem 0 2rem;
    text-align: justify;
}

.skills__right {
    flex: 1;
    max-width: 66rem;
}

.skills__right img {
    max-width: 100%; /* Reduz o tamanho da imagem pela metade */
    height: auto; /* Mantém a proporção */
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skills__content {
        max-width: 66rem;
        text-align: center;
    }
}
