.skills {
    display: flex; 
    flex-direction: row-reverse; 
    align-items: flex-start; 
}

.skills .skills__content{
    padding: 6rem;
    text-align: center;
}

.skills .skills__content .image-container {
    max-width: 100x; 
    margin-right: 10px; 
}

.skills .skills__content .image-container img {
    max-width: 100%; 
    height: auto; 
}

.skills .skills__right img {
    max-width: 100%; 
    height: auto; 
}
